html,
body,
button,
input {
  font-family: "Josefin Sans", sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: black;
  border-radius: 5px;
}

html {
  --toastify-color-info: black !important;
  --toastify-color-success: black !important;
  --toastify-color-warning: black !important;
  --toastify-color-error: black !important;
}
